html, body {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    background: url(https://drasler.ru/wp-content/uploads/2019/05/Голубой-фон-для-рабочего-стола-обои-14.jpg) no-repeat center center fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #050505;
    background-color: #ffffff;
}


*, ::before, ::after {
    box-sizing: border-box;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


body {
    margin: 0;
}

html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
*, ::before, ::after {
    box-sizing: border-box;
}
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*, ::before, ::after {
    box-sizing: border-box;
}
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: border-box;
}

div {
    display: block;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

p {
    font-size: 18px;
    
}

b, strong {
    font-weight: bold;
}

.min-text {
    text-align: center;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    transform: translateX(-90px);
   }

.ttext {    
    text-align: center;
}

.kaf-text {
    text-align: center;
}

.tem-text {
    font-size: 24px;
    text-align: center;
    margin-top: 70px;
}

.person {
    text-align: right;
    padding: 10px 20px;
}

.tittle-logo {
   width: 150px;
   margin-right: 30px;
}

.tittle-logo img {
    width: 100%;
}

#wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0px;
    max-width: 1400px;
    min-height: 100%;
}



.introductionimg {
    width: 100%;
}

/* Head */
#top {
    margin: 0px;
    padding: 20px 0;
    background: url(https://pbs.twimg.com/profile_images/1288765218202558467/x0VOpldi_400x400.jpg);
}

#head {
    color: rgb(255, 255, 255);
}


.row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#project-tittle {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0;
}

.logo-sfedu{
    position: relative;
    min-height: 1px;
    padding-left: 30px;
    padding-right: 30px;
}

#name {
    text-align: center;
    color: white;
    padding-top: 10px;
    font-size: 22px;
    font-family: "Roboto";
    font-weight: normal;
    margin: 0px;

}


#menu {
    text-align: center;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

img {
    vertical-align: middle;
}


img {
    border: 0;
}




/* Навигация */
#nav-menu {
  background: linear-gradient(to top, #1e8ab4, #3699e9);
  text-align: center;
}
#nav-menu a {
  text-decoration: none;
  outline: none;
  display: block;
  transition: .3s ease-in-out;
}

nav {
  display: table;
  margin: 0 auto;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.topmenu:after {
  content: "";
  display: table;
  clear: both;
}
.topmenu > li {
float: left;
position: relative;
font-family: 'Open Sans', sans-serif;
}
.topmenu > li > a {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  padding: 15px 35px;
  margin:0 25px;
}
.topmenu li a:hover { color: #c0c0c0; }
.submenu-link:after {
  content: "ᐯ";
  font-family: "FontAwesome";
  color: inherit;
  margin-left: 10px;
}
.submenu {
  background: #324858;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 5;
  width: 180px;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: 0 0;
  transition: .5s ease-in-out;
}
.submenu a {
  color: rgb(117, 193, 196);
  text-align: left;
  padding: 12px 15px;
  font-size: 14px;
  border-bottom: 1px solid rgba(255,255,255,.1);
}
.submenu li:last-child a { border-bottom: none; }
.topmenu > li:hover .submenu {
  opacity: 1;
  transform: scaleY(1);
}


/* Середина */
#middle {
    background-color: white;
    margin-top: 90px;
    padding: 0;
    vertical-align: top;
    -webkit-box-shadow: 0 0 41px 0px rgb(0 0 0 / 30%);
    -moz-box-shadow: 0 0 41px 0px rgba(0,0,0,.3);
    box-shadow: 0 0 41px 0px rgb(0 0 0 / 30%);
    font-family: "Arial";
    flex-grow: 1;
}

#main_name {
    padding-left: 35px;
    padding-bottom: 20px;
}

.content-title {
    font-size: 24px;
    padding: 7px 35px;
    color: white;
    margin-top: 0;
    background: #243f5a;
}

.content {
    width: 155%;
}




a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}


.previous {
    background-color: #f1f1f1;
    color: black;
}

.next {
    background-color: #4c7aaf;
    color: white;
}

.next1 {
    background-color: #4c7aaf;
    color: white;
    margin-left: 96%;
}

.round {
    border-radius: 50%;
}

.round1 {
    border-radius: 50%;
}

.moodlep {
width: 96%;
    
}

.links {
    padding-top: 25px;
    padding-bottom: 10px;
    font-size: 18px;
}

iframe {
    margin-left: 0;
    margin-right: auto;
    display: block;
}

p.after {
    padding: 0px;
    margin-top: 5px;
    font-family: "Arial";
    font-size: 13px;
    color: #787878;
}

#middle article {
    /* margin-top: 60px; */
    padding-left: 35px;
    padding-bottom: 20px;
    width: 740px;
}

.used_ul li {
    margin-top: 10px;
    font-size: 18px;
}

.repe {
    padding-bottom: 10px;
    padding-top: 10px;
    width: 90%;
}

.repetr {
    width: 70%;
    margin-left: 150px;
}

.repe2 {
    padding-bottom: 10px;
    padding-top: 10px;
    width: 1090px;
    height: 700px;
}

.repet {
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
}

.sources {
    width: 150%;
}

.sources li {
   
    font-size: 18px;
}

.pluses {
    font-size: 18px;
}

.pluses li {
padding-bottom: 10px;
background-image: url(https://webnavoz.ru/wp-content/uploads/2020/07/add.png) !important;
background-size: 24px !important;
background-position: left center;
padding: 15px 0 15px 30px !important;
margin: 0 !important;
background-repeat: no-repeat;
}

.pluses ul {
    list-style: none;
    }
    
    .pluses img {
        width: 1090px;
        height: 320px;
    }

.minuses ul {
list-style: none;
}

.minuses img {
    width: 1090px;
    height: 280px;
}

.minuses {
    font-size: 18px;
}

.minuses li {
padding-bottom: 10px;
background-image: url(https://webnavoz.ru/wp-content/uploads/2020/07/minus-3.png) !important;
background-size: 24px !important;
background-position: left center;
padding: 12px 15px 8px 30px !important;
margin: 0 !important;
background-repeat: no-repeat;
}



.container {
    position: relative;
    }
    .container img {
    position: absolute;
    }
    .container ul li {
    color: #fff;
    position: relative;
}

.zag p {
    font-size: 24px;
}

/* Низ */
#bottom {
    height: 150px;
    width: 100%;
    background: #0f222d;
}

#bottom-tittle {
    text-align: right;
    color: white;
    padding-top: 55px;
    font-size: 18px;
    font-family: "Arial";
    font-weight: bold;
    margin: 0px 15px;
}

/* Кнопка наверх */
.topbutton {
    width:50px;
    border:2px solid #ccc;
    background:#f7f7f7;
    text-align:center;
    padding:10px;
    position:fixed;
    bottom:50px;
    right:50px;
    cursor:pointer;
    color:#333;
    font-family:verdana;
    font-size:12px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    }